<div class="comment-container">
    <div class="meta-info">
        <p class="text-gray-400 font-medium">▲  <strong>{{ comment?.by }}</strong> - {{ comment?.time  | date: 'short'}}</p>
      </div>
      <p>{{ comment?.text ?? 'comment has no text' | extractText }}</p>
      <button *ngIf="comment?.kids?.length > 0" class="underline mt-2" (click)="toggleChildren()">
        reply 
        <!-- {{ showChildren ?  'reply': '' }} -->
        </button>
        <app-loader *ngIf="loading"></app-loader>
        <div class="child-comments ml-10" *ngIf="showChildren && comment?.kids && comment?.kids?.length">
            <app-comments *ngFor="let childComment of childrenComments" [commentId]="childComment?.id"></app-comments>
        </div>
    </div>
    
    <!-- <div class="comment-container">
        <p>{{ comment?.text }}</p>
        <button class="text-blue-500 hover:underline mt-2" (click)="toggleChildren()">
          {{ showChildren ? 'Hide replies' : 'View replies' }}
        </button>
        <div class="child-comments" *ngIf="showChildren && comment.kids && comment.kids.length">
          <ng-container *ngFor="let childCommentId of comment.kids">
            <app-comments [commentId]="childCommentId"></app-comments>
          </ng-container>
        </div>
      </div> -->
  <!-- <div class="comment-container">
      <p>{{ comment?.text }}</p> 
      <div class="child-comments" *ngIf="comment.kids && comment.kids.length">
          <ng-container *ngFor="let childCommentId of comment.kids">
              <app-comments [commentId]="childCommentId"></app-comments>
        </ng-container>
    </div>
</div> -->
<!--  
    <div class="comment" *ngIf="comment">
        <p>{{ comment.text }}</p> 
        <div class="child-comments" *ngIf="comment.kids && comment.kids.length">
          <ng-container *ngFor="let childCommentId of comment.kids">
            <app-comments [commentId]="childCommentId"></app-comments>
          </ng-container>
        </div>
      </div>
<div class="comment" *ngIf="comment">
    <p>{{ comment.text }}</p>
     
    <div class="child-comments" *ngIf="comment.kids && comment.kids.length">
      <app-comments *ngFor="let childCommentId of comment.kids" [commentId]="childCommentId"></app-comments>
    </div>
  </div>
   -->
