<div class="min-w-96 mx-auto px-4">
  <ul class="bg-[#fff9ec] rounded-lg shadow-md min-h-screen">
    <div *ngIf="loader" class="pt-32" >
      <app-loader ></app-loader>
    </div>
    <li *ngFor="let story of topStories  | paginate: {id:'server', itemsPerPage:10, currentPage:currentPage, totalItems:total}" class="my-4 p-5">
      <div class="lg:flex lg:items-center">
        <h1 class="mr-2 text-lg font-semibold">{{ story.title }}</h1>
        <span class="text-gray-400 text-sm break-all">({{ story.url }})</span>
      </div>
      <p class="text-gray-400 font-medium text-sm">
        <span>{{ story.score }} points by {{ story.by }} {{ story.time | date: 'short' }} |</span>
        <span class="cursor-pointer" (click)="toggleComments(story)">  {{ story.kids?.length || 0 }} comments</span></p>
        <div *ngIf="story.showComments" class="ml-4 mt-4">  
          <app-comments *ngFor="let commentId of story.kids" [commentId]="commentId"></app-comments>
        </div>
    </li>
  <li class="p-4">
    <pagination-controls 
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel"
    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="labels.screenReaderPageLabel"
    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
    id="server"  (pageChange)="getData($event)"></pagination-controls>
  </li>
  </ul>
</div>

<!-- 
<div class="mx-auto px-4">
  <div *ngFor="let story of topStories" class="my-4 p-4 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-2">{{ story.title }}</h2>
    <p class="text-gray-600">Points {{ story.score }} by {{ story.by }} </p>
    <p class="text-gray-600">Author: {{ story.by }}</p>
    <p class="text-gray-600">Time: {{ story.time | date: 'medium' }}</p>
    <button class="text-blue-500 hover:underline mt-2" (click)="toggleComments(story)">Show/hide comments</button>
    <div *ngIf="story.showComments" class="mt-4">
      <p class="font-bold">Comments: {{ story.kids?.length || 0 }}</p> 
    </div>
  </div>
</div> -->
