<div class="min-w-96 mx-auto px-4">
  <ul class="bg-[#fff9ec] rounded-lg shadow-md min-h-screen">
    <div class="sticky top-0 z-50">
      <div role="tablist" class="tabs tabs-sm tabs-boxed">
        <span (click)="categoryChange('topstories')" role="tab" class="tab" [class.tab-active]="activeTab === 'topstories'">Top Stories</span>
        <span (click)="categoryChange('newstories')" role="tab" class="tab" [class.tab-active]="activeTab === 'newstories'">New Stories</span>
        <span (click)="categoryChange('beststories')" role="tab" class="tab" [class.tab-active]="activeTab === 'beststories'">Best Stories</span>
        <span (click)="categoryChange('askstories')" role="tab" class="tab" [class.tab-active]="activeTab === 'askstories'">Ask HN</span>
        <span (click)="categoryChange('showstories')" role="tab" class="tab" [class.tab-active]="activeTab === 'showstories'">Show HN</span>
        <span (click)="categoryChange('jobstories')" role="tab" class="tab" [class.tab-active]="activeTab === 'jobstories'">Jobs</span>
      </div>
    </div>
    
    
    <div *ngIf="loader" class="pt-32" >
      <app-loader ></app-loader>
    </div>
    

    <li *ngFor="let story of topStories | paginate: {id:'server', itemsPerPage:10, currentPage:currentPage, totalItems:total}; let i = index" class="my-4 p-5">
      <div class="lg:flex lg:items-center">
        <span class="text-gray-400 mr-2">{{ i + 1 }}. ▲  </span>
        <span class="mr-2 font-semibold text-black">{{ story.title }}</span> 
        <span class="text-gray-400 text-sm break-all cursor-pointer hover:text-sky-400" (click)="openUrlInNewTab(story.url)">{{ story.url }}</span>

      </div>
      <p class="text-gray-400 font-medium text-sm flex flex-col sm:flex-row">
        <span>{{ story.score }} points by {{ story.by }} {{ story.time | date: 'short' }} |</span>
        <span class="cursor-pointer lg:ml-2" (click)="toggleComments(story)">  {{ story.kids?.length || 0 }} comments</span></p>
        <div *ngIf="story.showComments" class="ml-4 mt-4">  
          <app-comments *ngFor="let commentId of story.kids" [commentId]="commentId"></app-comments>
        </div>
    </li>
  <li class="p-4">
    <pagination-controls 
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel"
    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="labels.screenReaderPageLabel"
    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
    id="server"  (pageChange)="getData($event)"></pagination-controls>
  </li>
  </ul>
</div>
 